.bg-myRed{
    background-color: yellowgreen;
}

.Nav{
    align-items: center;
}

.logo{
    text-align: left;
    height: 60px;
    width: 60px;
}
.modal-content {
    width: 40%;
}
.card {
    padding: 5%;
}